* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: vazirmatn;
  src: url(../../public/fonts/Vazir-Regular-FD.woff2),
    url(../../public/fonts/Vazir-Regular.eot),
    url(../../public/fonts/Vazir-Regular.ttf);
}

body {
  font-family: vazirmatn;
  font-size: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}
